.App {
  background-color: rgb(241, 241, 241);
}
* {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style-type: none;
}
/* Header */
.header {
  background-color: rgb(0, 73, 75);
  text-shadow: 20px;
  text-align: center;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--users__Link {
  background-color: rgb(0, 73, 75);
  text-shadow: 20px;
  text-align: center;
  color: whitesmoke;
}
/* Articles */
.articles-list-area {
  border: 2px;
  background-color: rgb(0, 73, 75);
}
.article-card {
  border: solid 5px;
  border-radius: 2%;
  background-color: rgb(241, 241, 241);
  margin-left: 10px;
  margin-right: 10px;
  padding: 0%;
  /* display: flex;
  justify-content: space-between; */
}
.article-title {
  color: black;
  padding: 1%;
}
.article-card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
}
.article-left {
  align-items: left;
}
.article-right {
  align-items: right;
  text-align: end;
}
/* Nav bar */
.nav--list {
  border: solid 2px;
  /* padding: 5%; */
  color: antiquewhite;
  text-shadow: 20px;
  text-align: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav--topic__link {
  margin: 50px;
  padding: 10px;
  text-decoration: none;
}
/* Individual Article Page */
.article--title {
  background-color: rgb(0, 73, 75);
  color: white;
}
.article--body {
  background-color: white;
  border: solid 3px;
  border-radius: 3%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3%;
  background-color: rgb(241, 241, 241);
}
.article--votes__button {
  padding: 2%;
}
/* Users page */
.users--header__banner {
  background-color: rgb(0, 73, 75);
  text-shadow: 20px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
.users {
  border: 2px;
  background-color: rgb(0, 73, 75);
}
.user--card {
  border: solid 5px;
  border-radius: 2%;
  background-color: rgb(241, 241, 241);
  margin-left: 5px;
  margin-right: 5px;
  padding: 0%;
}
.user--login__btn {
  background-color: rgb(0, 73, 75);
  color: antiquewhite;
  padding: 1.2%;
}
.user--login__btnArea {
  align-items: right;
}
/* Comment cards  */
.comment--card {
  width: 80%;
  align-content: center;
  font-weight: 350;
  border: solid 5px;
  border-radius: 2%;
  background-color: rgb(230, 230, 230);
  margin-left: 10px;
  margin-right: 10px;
  padding: 0%;
}
/* Post Comment page */
#inpur--comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#articlereturn--postcomment {
  text-align: center;
  color: whitesmoke;
}
