.App {
  background-color: rgb(241, 241, 241);
}
* {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style-type: none;
}
/* Header */
.header {
  background-color: rgb(0, 73, 75);
  text-shadow: 20px;
  text-align: center;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 10px;
  border-color: black;
  box-shadow: 0px 5px 15px;
  margin: 0.5%;
}
.header--users__Link {
  background-color: rgb(0, 73, 75);
  text-shadow: 20px;
  text-align: center;
  color: whitesmoke;
}
#header--title {
  text-decoration: none;
}
/* Articles */
.articles--overall {
  background-color: rgb(0, 73, 75);
}
.articles--sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(241, 241, 241);
  padding-left: 3%;
  padding-right: 3%;
  border: solid 10px;
  border-color: black;
  box-shadow: 0px 5px 15px;
  margin: 0.5%;
}
.articles--sort__click {
  color: rgb(247, 247, 247);
}
.articles-list-area {
  border: 2px;
  background-color: rgb(0, 73, 75);
}
.article-card {
  background-color: white;
  border: solid 3px;
  border-color: rgb(15, 15, 15);
  border-radius: 3%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3%;
  background-color: rgb(241, 241, 241);
  margin: 2%;
  box-shadow: 0px 5px 15px;
  /* display: flex;
  justify-content: space-between; */
}
.article-title {
  color: black;
  padding: 1%;
}
.article-card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
}
.article-left {
  align-items: left;
}
.article-right {
  align-items: right;
  text-align: end;
}
/* Nav bar */
.nav--list {
  /* border: solid 2px; */
  /* padding: 5%; */
  color: antiquewhite;
  text-shadow: 20px;
  text-align: center;
  background-color: rgb(80, 49, 15);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(241, 241, 241);
}
.nav--topic__link {
  /* margin: 50px; */
  text-decoration: none;
  color: rgb(241, 241, 241);
}
/* Individual Article Page */
.article--overall {
  background-color: rgb(241, 241, 241);
}
.article--title {
  padding-left: 5%;
  background-color: rgb(0, 73, 75);
  color: white;
  border: solid 10px;
  border-color: black;
  box-shadow: 0px 5px 15px;
  margin: 0.5%;
}
.article--body {
  background-color: white;
  border: solid 3px;
  border-color: rgb(0, 73, 75);
  border-radius: 3%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3%;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 5px 15px;
}
.article--votes__button {
  padding: 2%;
}
.article--details {
  padding: 2%;
}
/* Users page */
.users--header__banner {
  background-color: rgb(0, 73, 75);
  text-shadow: 20px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 10px;
  border-color: black;
  box-shadow: 0px 5px 15px;
  margin: 0.5%;
  padding: 2%;
}
.users {
  border: 2px;
  background-color: rgb(0, 73, 75);
}
.user--card {
  background-color: white;
  border: solid 3px;
  border-color: rgb(15, 15, 15);
  border-radius: 3%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3%;
  background-color: rgb(241, 241, 241);
  margin: 1%;
  box-shadow: 0px 5px 15px;
}
.user--login__btn {
  background-color: rgb(0, 73, 75);
  color: antiquewhite;
  padding: 1.2%;
}
.user--login__btnArea {
  align-items: right;
}
/* Comment cards  */
.comment--card {
  width: 80%;
  align-content: center;
  font-weight: 350;
  border: solid 2px;
  border-radius: 3%;
  border-color: (0, 73, 75);
  background-color: rgb(230, 230, 230);
  margin-left: 10px;
  margin-right: 10px;
  padding: 1%;
  margin: 2%;
  align-self: center;
  box-shadow: 0px 5px 15px;
}
/* Post Comment page */
#inpur--comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#articlereturn--postcomment {
  text-align: center;
  color: whitesmoke;
}
